<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Visualisation ~ Amit Kapoor">
	<meta name="author" content="Amit Kapoor">

	<title>Visualisation Examples | Amit Kapoor</title>

	<link type="text/css" rel="stylesheet" href="assets/css/style.css" />

	<script src="/lib/d3.v3.min.js" charset="utf-8"></script>
	<script src="/lib/vega.min.js" charset="utf-8"></script>
	<script src="/lib/vega-lite.min.js" charset="utf-8"></script>
	<script src="/lib/vega-embed.js" charset="utf-8"></script>
	<script src="/lib/marked.js" charset="utf-8"></script>
	<script src="/lib/yaml.js" charset="utf-8"></script>
	<script src="/assets/js/visdown.js" charset="utf-8"></script>


</head>

<body>

	<header>
		<p>	<a href="\">home</a> | <a href="http://amitkaps.com"> amitkaps.com </a></p>
	</header>

	<article>
